.AliceBlue {
    color: AliceBlue
}

.AntiqueWhite {
    color: AntiqueWhite
}

.Aqua {
    color: Aqua
}

.Aquamarine {
    color: Aquamarine
}

.Azure {
    color: Azure
}

.Beige {
    color: Beige
}

.Bisque {
    color: Bisque
}

.Black {
    color: Black
}

.BlanchedAlmond {
    color: BlanchedAlmond
}

.Blue {
    color: Blue
}

.BlueViolet {
    color: BlueViolet
}

.Brown {
    color: Brown
}

.BurlyWood {
    color: BurlyWood
}

.CadetBlue {
    color: CadetBlue
}

.Chartreuse {
    color: Chartreuse
}

.Chocolate {
    color: Chocolate
}

.Coral {
    color: Coral
}

.CornflowerBlue {
    color: CornflowerBlue
}

.Cornsilk {
    color: Cornsilk
}

.Crimson {
    color: Crimson
}

.Cyan {
    color: Cyan
}

.DarkBlue {
    color: DarkBlue
}

.DarkCyan {
    color: DarkCyan
}

.DarkGoldenRod {
    color: DarkGoldenRod
}

.DarkGray {
    color: DarkGray
}

.DarkGreen {
    color: DarkGreen
}

.DarkKhaki {
    color: DarkKhaki
}

.DarkMagenta {
    color: DarkMagenta
}

.DarkOliveGreen {
    color: DarkOliveGreen
}

.DarkOrange {
    color: DarkOrange
}

.DarkOrchid {
    color: DarkOrchid
}

.DarkRed {
    color: DarkRed
}

.DarkSalmon {
    color: DarkSalmon
}

.DarkSeaGreen {
    color: DarkSeaGreen
}

.DarkSlateBlue {
    color: DarkSlateBlue
}

.DarkSlateGray {
    color: DarkSlateGray
}

.DarkTurquoise {
    color: DarkTurquoise
}

.DarkViolet {
    color: DarkViolet
}

.DeepPink {
    color: DeepPink
}

.DeepSkyBlue {
    color: DeepSkyBlue
}

.DimGray {
    color: DimGray
}

.DodgerBlue {
    color: DodgerBlue
}

.FireBrick {
    color: FireBrick
}

.FloralWhite {
    color: FloralWhite
}

.ForestGreen {
    color: ForestGreen
}

.Fuchsia {
    color: Fuchsia
}

.Gainsboro {
    color: Gainsboro
}

.GhostWhite {
    color: GhostWhite
}

.Gold {
    color: Gold
}

.GoldenRod {
    color: GoldenRod
}

.Gray {
    color: Gray
}

.Green {
    color: Green
}

.GreenYellow {
    color: GreenYellow
}

.HoneyDew {
    color: HoneyDew
}

.HotPink {
    color: HotPink
}

.IndianRed {
    color: IndianRed
}

.Indigo {
    color: Indigo
}

.Ivory {
    color: Ivory
}

.Khaki {
    color: Khaki
}

.Lavender {
    color: Lavender
}

.LavenderBlush {
    color: LavenderBlush
}

.LawnGreen {
    color: LawnGreen
}

.LemonChiffon {
    color: LemonChiffon
}

.LightBlue {
    color: LightBlue
}

.LightCoral {
    color: LightCoral
}

.LightCyan {
    color: LightCyan
}

.LightGoldenRodYellow {
    color: LightGoldenRodYellow
}

.LightGray {
    color: LightGray
}

.LightGreen {
    color: LightGreen
}

.LightPink {
    color: LightPink
}

.LightSalmon {
    color: LightSalmon
}

.LightSeaGreen {
    color: LightSeaGreen
}

.LightSkyBlue {
    color: LightSkyBlue
}

.LightSlateGray {
    color: LightSlateGray
}

.LightSteelBlue {
    color: LightSteelBlue
}

.LightYellow {
    color: LightYellow
}

.Lime {
    color: Lime
}

.LimeGreen {
    color: LimeGreen
}

.Linen {
    color: Linen
}

.Magenta {
    color: Magenta
}

.Maroon {
    color: Maroon
}

.MediumAquaMarine {
    color: MediumAquaMarine
}

.MediumBlue {
    color: MediumBlue
}

.MediumOrchid {
    color: MediumOrchid
}

.MediumPurple {
    color: MediumPurple
}

.MediumSeaGreen {
    color: MediumSeaGreen
}

.MediumSlateBlue {
    color: MediumSlateBlue
}

.MediumSpringGreen {
    color: MediumSpringGreen
}

.MediumTurquoise {
    color: MediumTurquoise
}

.MediumVioletRed {
    color: MediumVioletRed
}

.MidnightBlue {
    color: MidnightBlue
}

.MintCream {
    color: MintCream
}

.MistyRose {
    color: MistyRose
}

.Moccasin {
    color: Moccasin
}

.NavajoWhite {
    color: NavajoWhite
}

.Navy {
    color: Navy
}

.OldLace {
    color: OldLace
}

.Olive {
    color: Olive
}

.OliveDrab {
    color: OliveDrab
}

.Orange {
    color: Orange
}

.OrangeRed {
    color: OrangeRed
}

.Orchid {
    color: Orchid
}

.PaleGoldenRod {
    color: PaleGoldenRod
}

.PaleGreen {
    color: PaleGreen
}

.PaleTurquoise {
    color: PaleTurquoise
}

.PaleVioletRed {
    color: PaleVioletRed
}

.PapayaWhip {
    color: PapayaWhip
}

.PeachPuff {
    color: PeachPuff
}

.Peru {
    color: Peru
}

.Pink {
    color: Pink
}

.Plum {
    color: Plum
}

.PowderBlue {
    color: PowderBlue
}

.Purple {
    color: Purple
}

.RebeccaPurple {
    color: RebeccaPurple
}

.Red {
    color: Red
}

.RosyBrown {
    color: RosyBrown
}

.RoyalBlue {
    color: RoyalBlue
}

.SaddleBrown {
    color: SaddleBrown
}

.Salmon {
    color: Salmon
}

.SandyBrown {
    color: SandyBrown
}

.SeaGreen {
    color: SeaGreen
}

.SeaShell {
    color: SeaShell
}

.Sienna {
    color: Sienna
}

.Silver {
    color: Silver
}

.SkyBlue {
    color: SkyBlue
}

.SlateBlue {
    color: SlateBlue
}

.SlateGray {
    color: SlateGray
}

.Snow {
    color: Snow
}

.SpringGreen {
    color: SpringGreen
}

.SteelBlue {
    color: SteelBlue
}

.Tan {
    color: Tan
}

.Teal {
    color: Teal
}

.Thistle {
    color: Thistle
}

.Tomato {
    color: Tomato
}

.Turquoise {
    color: Turquoise
}

.Violet {
    color: Violet
}

.Wheat {
    color: Wheat
}

.White {
    color: White
}

.WhiteSmoke {
    color: WhiteSmoke
}

.Yellow {
    color: Yellow
}

.YellowGreen {
    color: YellowGreen
}
